.start-menu-container {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.start-menu-button {
  border: 2px solid rgb(84, 84, 84);
  border-radius: 15px;
  padding: 8px;
  background-color: rgb(34, 34, 34);
}

.start-menu-button:hover {
  color: greenyellow;
  cursor: pointer;
}

.logo {
  position: relative;
  display: flex; /* Optional: align content easily */
  flex-direction: column; /* Stack elements vertically */
  align-items: center; /* Center align child elements */
  justify-content: center;
}

.logo img {
  width: 400px;
}

@media (max-width: 600px) {
  .logo img {
    width: 97vw;
  }
}

.head-pics {
  position: absolute;
  right: 10%
}

.rotating-image {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
